@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-success" style="margin-bottom:20px;" asp-action="Add">Add</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success" style="margin-bottom:20px;" asp-action="Report">Generate Report</a>
        </div>
    </div>
    <div class="col-md-12" style="margin:auto;">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <th>@item.Name</th>
                        <th>@item.Category.Name</th>
                        <th>@item.Price</th>
                        <th>@item.Quantity</th>
                        <th class="btn-group-sm">
                            <a asp-action="Detail" asp-route-ID="@item.ID" class="btn btn-info">Detail</a>
                            <a asp-action="Edit" asp-route-ID="@item.ID" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-ID="@item.ID" class="btn btn-danger">Delete</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>